<h3>Cut player</h3>

<select [(ngModel)]="playerIdToCut">
  <option *ngFor="let player of players" [value]="player._id">
    {{player.firstName}} {{player.lastName}}
  </option>
</select>

<button (click)="cutPlayer()">Cut</button>
<span> {{cutCheck}}</span>



<h3>Free agency</h3>
<select [(ngModel)]="freeAgentId">
    <option *ngFor="let player of freeAgents" [value]="player._id">
      {{player.firstName}} {{player.lastName}}
    </option>
</select>
<button *ngIf="hasSpace()" (click)="signPlayer()">Sign</button>
<span> {{signCheck}}</span>
<p *ngIf="!hasSpace()">You must cut a player befor signing new one!</p>



<h3>Trade players</h3>
