<h3>{{league.name}} // Draft Lobby</h3>

<p *ngIf="!isAdmin()">League Comissioner: {{league.admin.name}}</p>
<p *ngIf="isAdmin()">You are the Commisioner</p>

<h5>{{league.users.length}} players joined the league</h5>

<ol>
  <li *ngFor="let user of league.users; index as i"><p>{{user.name}}</p></li>
</ol>

<h3 *ngIf="isWaiting()"><p>Waiting for {{league.maxUsers - league.users.length}} users to start the Draft...</p></h3>
<h3 *ngIf="!isWaiting()"><p>READY to start!!!</p></h3>  

<h5 *ngIf="(league.users.length === league.maxUsers) && !isAdmin()"><p>Wait for the Commisioner to start the Draft...</p></h5> 

<button mat-raised-button *ngIf="league.users.length === league.maxUsers && isAdmin()" (click)="startDraft()">Start Draft</button>
