<h3>Leagues</h3>

<div class="basic-container">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Create
        </mat-panel-title>
        <mat-panel-description>
          Type league and team info
        </mat-panel-description>
      </mat-expansion-panel-header>  
      <mat-form-field>
        <input matInput [(ngModel)]="leagueName" placeholder="League Name">
      </mat-form-field>  
      <mat-form-field>
        <input matInput [(ngModel)]="teamCity" placeholder="Team City">
      </mat-form-field>  
      <mat-form-field>
        <input matInput [(ngModel)]="teamName" placeholder="Team Name">
      </mat-form-field>  
      <mat-action-row>
        <button mat-button color="primary" (click)="createLeague()">Create and Join</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<mat-grid-list cols="2" rowHeight="300px">
  <mat-grid-tile *ngFor="let league of leagues">
    <app-league-item (writting)="pollingUnsubscribe()" [league]="league"></app-league-item>
  </mat-grid-tile>
</mat-grid-list>


