<h3>League: {{league._id}}</h3>

<ul>
  <li>Round: {{league?.round}} of {{league?.maxPlayers}}</li>
  <li *ngIf="!userTurn()">Turn: {{league?.turn}} - User: {{turn()}}</li>
  <li *ngIf="userTurn()">It's your turn!!!</li>
</ul>

<span>Select Player: </span>
<select>
    <option *ngFor="let player of players" [value]="player.id">
      {{player.firstName}} {{player.lastName}}
    </option>
</select>

<div>
  <button *ngIf="userTurn()" (click)="pickPlayer()">Pick Player</button>
  <button *ngIf="league.round > league.maxPlayers">End Draft</button>
</div>
