<h5>Guard</h5>
<small>Serves the best ASSISTS</small>
<select>
  <option value="volvo">player1</option>
  <option value="saab">player</option>
  <option value="mercedes">player</option>
  <option value="audi">player</option>
</select>

<h5>Forward</h5>
<small>Scores POINTS</small><br>
<select>
  <option value="volvo">player1</option>
  <option value="saab">player</option>
  <option value="mercedes">player</option>
  <option value="audi">player</option>
</select>

<h5>Center</h5>
<small>Tough people catch REBOUNDS</small><br>
<select>
  <option value="volvo">player1</option>
  <option value="saab">player</option>
  <option value="mercedes">player</option>
  <option value="audi">player</option>
</select>

<h5>Bench</h5>
<small>Just sits there</small><br>
<select>
  <option value="volvo">player1</option>
  <option value="saab">player</option>
  <option value="mercedes">player</option>
  <option value="audi">player</option>
</select><br>

<div>
  <button>Save Lineup</button>
</div>